body {
    background-color: black;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.subtitle {
    font-size: x-small;
}

.title {
    font-size: xx-large;
}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}