body {
    background-image: url("https://raw.githubusercontent.com/20154746/20154746.github.io/refs/heads/main/me.png");
    background-size: 100%;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
    font-size: x-small;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}